<mat-toolbar color="primary">
  Review of the requst
</mat-toolbar>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Customer Informations
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item role="listitem">Name: saleh</mat-list-item>
      <mat-list-item role="listitem">Gender: male</mat-list-item>
      <mat-list-item role="listitem">Age : 30</mat-list-item>
      <mat-list-item role="listitem">special cases : None</mat-list-item>
      <mat-list-item role="listitem">Number of people : 5</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Trip Informations
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list margin-top-10">
      <mat-list-item role="listitem">interest: </mat-list-item>
    </mat-list>
    <mat-list role="list margin-top-10">
      <mat-list-item role="listitem">Diving </mat-list-item>
      <mat-list-item role="listitem">Diving </mat-list-item>
      <mat-list-item role="listitem">Diving </mat-list-item>
      <mat-list-item role="listitem">Diving </mat-list-item>
    </mat-list>
  
  </mat-expansion-panel>
</mat-accordion>
<div class="margin-top-10 margin-bottom-10">
  <mat-list>
    <mat-list-item role="listitem">City: Jeddah</mat-list-item>
    <mat-list-item role="listitem">Date: from 10/9/2018 to 13/9/2018</mat-list-item>
    <mat-list-item role="listitem">Time: 5:00P.M. to 12:00 A.M.</mat-list-item>
  </mat-list>
</div>
<mat-divider></mat-divider>

<button mat-mini-fab color="primary" style="position:fixed; right:10px; bottom: 80px">
  <mat-icon aria-label="Example icon-button with a heart icon">insert_emoticonng </mat-icon>
</button>
<div style="position: fixed; bottom: 0; width: 100%">
  <app-navbar></app-navbar>
</div>
