<mat-toolbar color="primary">
 <button mat-button class="padding-0" routerLink="/home"> <mat-icon>keyboard_backspace</mat-icon></button>
  <span style="flex: 0.1 0 auto"></span>
  Chose the guide
</mat-toolbar>

<mat-nav-list>
  <a mat-list-item href="." *ngFor="let guide of guides" class="margin-top-20 guider" routerLink="/revenue-request">
    <div>
        <span style="flex: auto"></span>
        <button style="flex: auto" mat-fab color="accent"><mat-icon color="primary">face</mat-icon></button>
        <span style="flex: auto"></span>
      </div>
    <div>
      <div>
        {{guide.name}}

      </div>
      <div>
        {{guide.price}}SAR

      </div>
    </div>
  </a>

</mat-nav-list>
<button mat-mini-fab color="primary" style="position:fixed; right:10px; bottom: 80px">
    <mat-icon aria-label="Example icon-button with a heart icon">insert_emoticonng </mat-icon>
  </button>
<div style="position: fixed; bottom: 0; width: 100%">
    <app-navbar></app-navbar>
  </div>