<mat-toolbar color="primary">
  <button mat-button class="padding-0" routerLink="/"> <mat-icon>keyboard_backspace</mat-icon></button>
  <span style="flex: 0.1 0 auto"></span>
  verification
</mat-toolbar>
<div class="container margin-top-60">
  <div class="row justify-content-around align-items-center">
    <mat-form-field class="col-12">
      <input matInput placeholder="Phone number">
    </mat-form-field>
    <div class="col-sm-3">
      <button mat-raised-button class="" routerLink="/home" color="primary">
        Submint
      </button>
    </div>
  </div>
</div>