<mat-toolbar color="primary">
    Review of the requst
  </mat-toolbar>
  
  <div>
    <span style="flex:auto"></span>
    <button style="flex:auto" mat-fab color="accent"><mat-icon color="primary">face</mat-icon></button>
    <span style="flex:auto"></span>
  </div>
  

<mat-list role="list">
    <mat-list-item role="listitem">Name: saleh</mat-list-item>
    <mat-list-item role="listitem">Gender: male</mat-list-item>
    <mat-list-item role="listitem">Age : 30</mat-list-item>
  </mat-list>
  

<div class="contanier" class="margin-top-10 margin-bottom-10  ">
  <div class="row ">
    <div class="col-12 padding-left-30">
        They Said About me 

    </div>
  </div>
</div>
<mat-card >
  Comment 1
</mat-card>
<mat-card >
  Comment 2
</mat-card>
<mat-card>
  Comment 3
</mat-card>